.toast-message {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}
.toast-message-body {
  display: inline-block;
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px;
  font-weight: normal;
}
